*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background: #19172e;
    font-size: 40px;
    font-size: "sans";
}
@font-face{
    font-family: "sans";
    src: url(font/sans.ttf);
}
main {
    background: #614385;
    background: -webkit-linear-gradient(to right, #516395, #614385);
    background: linear-gradient(to right, #516395, #614385);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.content{
    width: 300px;
    height: 365px;
    padding-top: 8px;
}
h1{
color: #fff;
}
h1{
    background-color: #260e44;
    width: 260px;
    height: 285px;
    border: 4px solid white;
    border-radius: 4px;
    display: grid;
}